<!DOCTYPE html>
<html >
<head >
    <title >avril-front js frame work</title >
    <script src="../ref/jquery-1.11.1.js"></script>
    <script src="../avril.js"></script>
    <script src="../avril.tools.js"></script>
    <script src="../avril.mvvm.js"></script>
    <script src="js/mvvm.example.js"></script>
</head >
<body >
    <div av-html=""></div>
    <div av-scope="model.array" av-each="$scope,$item,$index">
        <span av-data="$index()" av-if="$item.name"></span>
    </div>
    <div av-scope="model">
        <div av-scope="obj">
            <span av-data="key1"></span>
            <span av-data="key2"></span>
        </div>
        <div av-scope="obj">
            <input av-data="key1" />
            <input av-data="key2" />
        </div>
        <div av-scope="array" av-each="$scope">
            <span av-data="$index()" av-if="$item.name"></span>
        </div>
        <div av-stop="true">
            don't have any binding here
            <div av-scope="array" av-each="$scope">
                <span av-data="$index()" av-if="$item.name"></span>
            </div>
        </div>
        <div av-stop="true"></div>
        <script type="av/script" av-execContent="true">
        </script>
    </div>
    <input av-data="$root.model.obj.key1" />
</body >
</html >