<!DOCTYPE html>
<html >
<head >
    <title >avril-front js frame work</title >
    <script src="../ref/jquery-1.11.1.js"></script>
    <script src="../avril.js"></script>
    <script src="../avril.tools.js"></script>
    <script src="../avril.mvvm.js"></script>
    <script src="js/mvvm.example.js"></script>
</head >
<body >

    <div av-scope="model.array" av-each="$scope,$item,$index">
        <span av-bind="$index()" av-if="$item.name"></span>
    </div>
    <div>
        $root.model.obj.key1 : <span av-bind="$root.model.obj.key3"></span>
    </div>
    <span av-bind="$root.model.obj.key1"></span>
    <input av-bind="$root.model.obj.key1"/>
    <div av-scope="model">
        <div av-scope="obj">
            <span av-bind="key1"></span>
            <span av-bind="key2"></span>
        </div>
        <div av-scope="obj">
            <input av-bind="key1" />
            <input av-bind="key2" />
        </div>
        <div av-scope="array" av-each="$scope">
            <span av-bind="$index()" av-if="$item.name"></span>
        </div>
        <div av-stop="true">
            don't have any binding here
            <div av-scope="array" av-each="$scope">
                <span av-bind="$index()" av-if="$item.name"></span>
            </div>
        </div>
        <div av-stop="true"></div>
        <script type="av/script" av-execContent="true">
        </script>
    </div>
    <input av-bind="$root.model.obj.key1" />
    <div av-scope="other">
        <form av-scope="form">
            <input av-bind="name"/>
            <input av-bind="email"/>
        </form>
        <div av-scope="$root.model">
            <span av-bind="obj.key1"></span>
        </div>
    </div>
    <div av-scope="other">
        <form av-scope="form">
            <input av-bind="name"/>
            <input av-bind="email"/>
        </form>
        <div av-scope="$root.model">
            <span av-bind="obj.key1"></span>
        </div>
    </div>
    <ul av-each="$scope.array">
        <li av-each-item="" av-scope="$item">
            <span av-bind=""></span>
            <span av-bind="$item.text"></span>
        </li>
    </ul>

    <div av-scope="calculate" av-controller="testController">
        <input name="val0" value="2" av-bind="val0">
        <input name="val1" value="1" av-bind="val1">
        <input av-bind="$scope.val0 + $scope.val1">
        <input av-bind="$try($scope.val0) + $try($scope.val1)">
        <input av-bind="$scope.val0 + '' + $scope.val1">
        <input av-bind="val0" av-event-keyup="val0KeyUp">
        <a av-event-click=""></a>
    </div>

    <input av-bind="b.isTrue" />
    <input av-bind="attr.prop" />

    <div av-if="b.isTrue">
        I am true
    </div>

    <div av-css="{ hello: $try($root.b.isTrue), world:true }" av-style="{ width:400 }"
         av-attr="{hello:10, prop:$try($root.attr.prop) }">
    </div>
    <div av-scope="$ns:$guid()">
        <p>random scope</p>
        <input av-bind="name"/>
        <input av-bind="email"/>
    </div>
    <div av-scope="$ns:$guid()">
        <p>random scope</p>
        <input av-bind="name"/>
        <input av-bind="name"/>
        <input av-bind="email"/>

        <div av-scope="statics">
            <div av-scope="$ns:$guid()">
                <p>random scope</p>
                <input av-bind="name"/>
                <input av-bind="name"/>
                <input av-bind="email"/>
            </div>
        </div>
        <div av-scope="$ns:$guid()">
            <p>random scope</p>
            <input av-bind="name"/>
            <input av-bind="name"/>
            <input av-bind="email"/>
        </div>
    </div>
    <div av-stop>
        <p>nothing happens here</p>
        <div av-if="b.isTrue">
            I am true
        </div>
        <div av-scope="$ns()"></div>
    </div>
</body >
</html >